/* Basic CSS Reset */
{% load static %}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  background-size: cover;


  

}

body {
  background:  #56657677;
  color: #485e74;
  line-height: 1.6;
  font-family: 'Yantramanav', sans-serif;
  padding: 3em;
  padding: em;


}
/* Styling for Header */
header {
  /* Your header styles here */
}

/* Styling for Slider */
.slider {
  /* Your slider styles here */
}

/* Styling for Product Boxes */
.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Your product box styles here */
}

.product {
  width: 200px;
  margin: 20px;
  /* Your individual product box styles here */
}

.product img {
  width: 100%;
  height: auto;
  /* Styling for product images */
}

.description {
  text-align: center;
  /* Styles for the product description */
}

.description h3 {
  /* Styles for the product title */
}

.description p {
  /* Styles for the product description text */
}

.button {
  display: block;
  width: 120px;
  margin: 10px auto;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  /* Button styles */
}

.hero-section{
background-color:#56657677;
/*background-image: url("{% static 'images/backgroung.jpg' %}");*/
/* border-bottom-left-radius: 100px ;
 border-bottom-right-radius: 100px ;*/
 margin-top: 60px;  

}
.products{
 background-color: #56657677; 

}
.space{
  background-color: white;
  height: 80px;
  padding-top: 15px;


}
.space h3{
/*  */
/*  */
  font-size: 45px;
  font-family: initial  ;
  border-radius: 20px;
/*  background-color: red;*/
  width: 15%;
  margin-left: 45%;
  


}
.space h3:hover{
/*  background-color: pink;*/
  
  
}
 
.product .imgs {
  border-radius: 5px;
  border: 5px solid black;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s ease; /* Adding transition for smooth effect */
}

.imgs:hover {
  transform: scale(1.0) rotate(8deg);
  overflow: hidden; /* Hiding overflow during hover */
}
